language: python
python:
    - "3.4"
    - "3.5"
    - "3.6-dev"
    - "pypy3.3-5.2-alpha1"
install:
    - pip install -r test-requirements.txt
    - pip install codecov
    - pip install -e .
script:
    - py.test --cov=pyger --cov-report=term-missing --cov-report=html tests
after_success:
    - codecov
notifications:
    email: false
